
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
      <!-- Position Column -->
    <ng-container matColumnDef="subprocess">
      <mat-header-cell *matHeaderCellDef> <p class="small">Functional Area</p>  </mat-header-cell>
      <mat-cell *matCellDef="let element"><p class="small">{{element.subprocess | customsubarea }} </p> </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="running">
      <mat-header-cell *matHeaderCellDef><p class="small">Running </p> </mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="small">{{element.running }}</p> </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ready">
      <mat-header-cell *matHeaderCellDef> <p class="small">Ready</p></mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="small">{{element.ready }}</p> </mat-cell>
    </ng-container>

    Symbol Column -->
    <ng-container matColumnDef="scheduled">
      <mat-header-cell *matHeaderCellDef> <p class="small">Scheduled</p></mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="small">{{element.scheduled}}</p> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="released">
      <mat-header-cell *matHeaderCellDef> <p class="small">Released</p></mat-header-cell>
      <mat-cell *matCellDef="let element"><p class="small">{{element.released}}</p>  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="aborted">
      <mat-header-cell *matHeaderCellDef> <p class="small">Aborted</p></mat-header-cell>
      <mat-cell *matCellDef="let element"><p class="small">{{element.aborted}}</p>  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="finished">
      <mat-header-cell *matHeaderCellDef> <p class="small">Finished</p></mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="small">{{element.finished}}</p> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="putactive">
      <mat-header-cell *matHeaderCellDef> <p class="small">putactive</p> </mat-header-cell>
      <mat-cell *matCellDef="let element"> <p class="small">{{element.putactive}}</p> </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>



<!-- <mat-tab-group>
  <mat-tab label="Current Status"> Content 2 </mat-tab>
  <mat-tab label="Failed Jobs"> Content 2 </mat-tab>
  <mat-tab label="Contact"> Content 3 </mat-tab>
</mat-tab-group>
 -->