<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="jobname">
      <mat-header-cell *matHeaderCellDef> Job Name. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.jobname}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="jobcount">
      <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.jobcount}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    Symbol Column -->
    <ng-container matColumnDef="subarea">
      <mat-header-cell *matHeaderCellDef> Subarea </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.subarea}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->