<mat-toolbar class="mat-elevation-z8" color ="warn" >
    <p><span> Critical Job Montior </span></p>
    <span class="example-fill-remaining-space"></span>
    <p><button mat-button (click)="toggleTabular()"> {{ button_text }} </button>
    </p>
    <!-- <button mat-stroked-button color="warn">Tabular View</button> -->
</mat-toolbar>
<br>
<!-- <app-charter>{{title}}></app-charter> -->
<!-- <br>
<br> -->
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
 <p class="thick">contact sapurana to activate for your service area </p>

      