<mat-toolbar class="mat-elevation-z8" color ="warn" >
    <p><span>FINANCE CLOSURE JOB STATUS </span></p>
    <span class="example-fill-remaining-space"></span>
    <p><button mat-button (click)="toggleTabular()"> {{ button_text }} </button>
    </p>
    <!-- <button mat-stroked-button color="warn">Tabular View</button> -->
</mat-toolbar>
<br>
<!-- <app-charter>{{title}}></app-charter> -->
<!-- <br>
<br> -->
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->

 <p class="small">contact:sapurana/saradas/sameersi </p>

      