/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
p.thick {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    
}
p.small{
    font-size: 10px;
}
